*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: rgb(49, 46, 46);
    color: white;
}

.key{
    display: flex;
    height: 100vh;
    justify-content: center ;
    align-items: center;
}

.color{
    display: flex;
    height: 100vh;
    justify-content: center ;
    align-items: center;
}

th{
    padding: 5px;
    border: 2px solid rgb(26, 185, 137);
}
td{
    text-align: center;
    padding: 5px;
    border: 2px solid rgb(21, 184, 184);
}
